.colorPicker {
  display: none;
}

.colorPicker_label {
  display: inline-block;
  padding: .5em;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #ddd;
}

.colorPicker_label:hover {
  background-color: #aaa;
}