.Rect {
  display: inline-block;
  position: absolute;
  height: 100px;
}

.Rect-left {
  height: 100%;
  width: 6px;
  cursor: col-resize;
  float: left;
}

.Rect-right {
  height: 100%;
  width: 6px;
  cursor: col-resize;
  float: right;
}