.Channel {
  display: block;
}

.Channel-title {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0.5em 0;
}

.Channel-toolbox h3 {
  padding-left: 2rem;
}

.Channel-frames {
  display: block;
  height: 100px;
  background-color: pink;
}
